.settings-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .settings-settings {
    width: 100%;
    height: 832px;
    display: flex;
    opacity: 0.50;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .settings-wallpaperflare1 {
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 832px;
    opacity: 0.90;
    position: absolute;
  }
  .settings-rectangle5 {
    top: 126px;
    left: 190px;
    width: 901px;
    height: 579px;
    position: absolute;
  }
  .settings-rectangle6 {
    top: 373px;
    left: 387px;
    width: 121px;
    height: 120px;
    position: absolute;
  }
  .settings-rectangle7 {
    top: 373px;
    left: 566px;
    width: 121px;
    height: 120px;
    position: absolute;
  }
  .settings-rectangle8 {
    top: 373px;
    left: 745px;
    width: 121px;
    height: 120px;
    position: absolute;
  }
  .settings-rectangle11 {
    top: 37px;
    left: 1121px;
    width: 91px;
    height: 89px;
    position: absolute;
  }
  